body {
    font-size: 20px;
    font-family: sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 black;
    min-height: 100vh;
    padding: 10px;
}

textarea {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

[class^="error"] {
    color: red;
}

.message {
    padding: 10px;
    background: lightblue;
}

.message:nth-child(n+2) {
    margin-top: 10px;
}

button, input {
    font-size: inherit;
}