.sort {
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product img {
    display: block;
    width: 100%;
}

.product .price {
    font-family: sans-serif;
    font-size: 20px;
}